* {
  outline: none !important;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 75px;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(135deg, #5793d4 0%, #dbb1c1 100%);
}

.wrapper_left {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper_left-socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.wrapper_left-socials__item:last-child {
  margin-bottom: 0;
}

.wrapper_left-socials__item svg {
  fill: #ffffff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.wrapper_left-socials__item svg:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
  fill: #ff6a00;
}

.wrapper_left-socials__item_vk {
  width: 22px;
  height: 13px;
}

.wrapper_left-socials__item_facebook {
  width: 17px;
  height: 17px;
}

.wrapper_left-socials__item_instagram {
  width: 15px;
  height: 16px;
}

.wrapper_left-socials_active .wrapper_left-socials__item svg {
  fill: #000000;
}

.modal-content {
  max-width: 275px;
  margin: 0 auto;
  border-radius: 12px;
}

.popup-button {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  cursor: pointer;
}

.popup-content {
  padding: 30px;
  padding-bottom: 0;
  background-color: #ffffff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup-content__title {
  color: #364055;
  font-weight: 500;
  font-size: 30px;
  color: #364055;
  line-height: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.popup-content__text {
  color: #606b81;
  font-size: 14px;
  max-width: 190px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popup-footer {
  background-image: linear-gradient(135deg, #5793d4 0%, #dbb1c1 100%);
  padding: 25px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.popup-form__input {
  border-radius: 6px;
  width: 100%;
  background-color: #e8ecf4;
  padding: 7px 15px;
  border: none;
  margin-bottom: 10px;
}

.popup-form__input::-webkit-input-placeholder {
  font-size: 12px;
  color: #9ba3b2;
}

.popup-form__input:-ms-input-placeholder {
  font-size: 12px;
  color: #9ba3b2;
}

.popup-form__input::-ms-input-placeholder {
  font-size: 12px;
  color: #9ba3b2;
}

.popup-form__input::placeholder {
  font-size: 12px;
  color: #9ba3b2;
}

.popup-form__input:last-child {
  margin-bottom: 20px;
}

.menu {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 270px;
  background-color: #ffffff;
  padding-top: 200px;
  padding-left: 75px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.menu-item {
  font-size: 17px;
  font-weight: 400;
  color: #364055;
  margin-bottom: 50px;
}

.menu-item a {
  color: #364055;
  text-decoration: none;
}

.menu-active {
  -webkit-transition: .3s all;
  transition: .3s all;
  visibility: visible;
  opacity: 1;
}

.ham {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20px;
}

.ham-line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-linecap: square;
}

.ham-top {
  stroke-dasharray: 40 172;
}

.ham-middle {
  stroke-dasharray: 40 111;
}

.ham-bottom {
  stroke-dasharray: 40 172;
}

.ham-active .ham-top {
  stroke-dashoffset: -132px;
}

.ham-active .ham-middle {
  stroke-dashoffset: -71px;
}

.ham-active .ham-bottom {
  stroke-dashoffset: -132px;
}

.ham-active .ham-line {
  stroke: #000000;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.button {
  background-color: #ff6a00;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 45px;
  padding-right: 13px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.button:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
  background-color: #d65900;
  color: rgba(255, 255, 255, 0.9);
}

.button_empty {
  border: 2px solid #ffffff;
  border-radius: 18px;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 25px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.button_empty:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
  background: #ffffff;
  color: #45324f;
}

.con {
  padding-left: 40px;
  width: 100%;
}

.scroll {
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 45px;
}

.scroll-text {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
}

.scroll-mouse {
  width: 16px;
  height: 28px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.scroll-mouse__inner {
  position: absolute;
  left: 50%;
  top: 4px;
  width: 2px;
  height: 4px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo__svg {
  fill: #ffffff;
  width: 100px;
  height: 100px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.header-logo__svg:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
  fill: #ff6a00;
}

.header-contacts__phoneNumber {
  display: inline-block;
  color: #ffffff;
}

.header-contacts__phoneNumber_big {
  font-size: 24px;
}

.header-contacts__button {
  margin-right: 30px;
}

.main {
  color: #ffffff;
  margin-left: 160px;
  position: relative;
}

.main-title {
  font-weight: 500;
  font-size: 48px;
}

.main-subtitle {
  font-weight: 700;
  line-height: 144px;
  font-size: 154px;
  font-family: 'Kelson Sans', sans-serif;
  margin-bottom: 30px;
  max-width: 1000px;
}

.main-text {
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  color: #45324f;
  max-width: 280px;
  margin-bottom: 25px;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
  margin-bottom: 50px;
}

.main-button__arrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ffffff;
  margin-left: 25px;
}

.pile {
  position: absolute;
  bottom: 0;
  right: 200px;
}
/*# sourceMappingURL=main.css.map */