*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: none !important;
  padding: 0;
  margin: 0;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Proxima Nova';
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
}

.section-subtitle {
  color: #3d464b;
  margin-top: 20px;
  padding-left: 35px;
  border-left: 4px solid #f8b039;
}

.btn {
  border-radius: 32px;
  background-color: #f8b039;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  padding: 20px 30px;
  transition: .3s background-color;
  display: inline-block;
}

.btn:hover {
  background-color: #ffa30a;
}

.data {
  display: none;
}

.link {
  position: relative;
}

.link:hover::after {
  width: 0;
}

.link::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transition: .3s width;
}

.input {
  width: 100%;
  margin-bottom: 25px;
  padding: 23px 10px 23px 35px;
  border: 1px solid #a2a2a2;
  background-color: transparent;
  font-size: 20px;
  transition: .3s border, .3s background-color;
}

.input:hover, .input:focus {
  border: 1px solid #f8b039;
  background-color: #ffffff;
}

.input::-webkit-input-placeholder {
  color: #000000;
}

.ruble {
  color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../img/general/ruble.svg);
}

@media (max-width: 1240px) {
  .btn {
    font-size: 18px;
    padding: 16px 25px;
  }
}

@media (max-width: 1000px) {
  .section-title {
    font-size: 32px;
  }
}

@media (max-width: 850px) {
  .section-subtitle {
    margin-top: 15px;
    padding-left: 0;
    border-left: none;
  }
  .section-title {
    font-size: 28px;
  }
  .btn {
    font-size: 16px;
    padding: 14px 22px;
  }
  .input {
    padding: 18px 10px 18px 25px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .input {
    padding: 12px 10px 12px 25px;
    font-size: 16px;
  }
}

span.wpcf7-not-valid-tip,
div.wpcf7 .ajax-loader,
div.wpcf7-mail-sent-ok,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-response-output {
  display: none !important;
}

.form-front .wpcf7-not-valid {
  border: 1px solid #e52428 !important;
}

.wpcf7-not-valid {
  border-color: #f34f41 !important;
}

.alertify-notifier .ajs-message.ajs-warning {
  background: white;
  box-shadow: 0 0 3px #333333;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #fff;
  background: rgba(40, 136, 62, 0.9);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.alertify-notifier {
  z-index: 99998;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-rectangle {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #3d464b;
  height: 100%;
  width: calc((100% - 1180px) / 2);
}

.header-wrapper {
  background-color: #fff;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #3d464b;
  border-radius: 100%;
  margin-right: 15px;
}

.header-logo__photo-content {
  width: 26px;
  height: 21px;
  fill: #f8b039;
}

.header-text {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav__item {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-right: 30px;
  transition: .3s color;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__item:hover {
  color: #f8b039;
}

.header-phone {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header-phone:hover .header-phone__photo {
  background-color: #f8b039;
}

.header-phone__photo {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 15px;
  transition: .3s background-color;
}

.header-phone__photo-content {
  width: 15px;
  height: 15px;
}

.header-phone__text {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.header-phone__wrapper {
  background-color: #3d464b;
  padding: 25px 0;
  padding-left: 30px;
}

.header-phone__caption {
  text-align: right;
  color: #ffffff;
}

@media (min-width: 1151px) {
  .header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .header-rectangle {
    width: 100px;
    z-index: 0;
  }
  .header-phone__wrapper {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1150px) {
  .header {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .header-nav {
    justify-content: center;
    min-width: calc(100% + 30px);
    margin-left: -15px;
    order: 3;
    padding-top: 20px;
    border-top: 1px solid #3d464b;
  }
  .header-nav__item {
    margin: 0 10px;
  }
  .header-nav__item:last-child {
    margin-right: 10px;
  }
  .header-phone__wrapper {
    min-width: 210px;
    flex-basis: 210px;
    padding: 20px 0 20px 15px;
  }
  .header-phone__text {
    font-size: 18px;
  }
  .header-phone__photo {
    width: 30px;
    height: 30px;
  }
  .header-rectangle {
    height: 100px;
  }
}

@media (max-width: 470px) {
  .header {
    flex-direction: column;
    padding: 20px 0;
  }
  .header-phone {
    justify-content: center;
  }
  .header-phone__wrapper {
    margin-top: 15px;
    padding: 10px 15px;
    flex-basis: 100%;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .header-phone__caption {
    text-align: center;
  }
  .header-rectangle {
    display: none;
  }
  .header-nav {
    padding: 15px 0;
    padding-bottom: 0;
    border-top: none;
  }
}

.hero {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.hero-photo {
  flex-grow: 1;
  flex-basis: 50%;
  background-image: url("../img/hero/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-photo__text {
  right: 0;
  top: 100px;
  position: absolute;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  padding: 15px 25px;
  background-color: #3d464b;
}

.hero-text {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 100px 20px 110px 90px;
  background-color: #f4f4f4;
}

.hero-text__title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 30px;
  max-width: 550px;
}

.hero-text__subtitle {
  max-width: 450px;
  font-size: 20px;
  margin-bottom: 90px;
}

.hero-text__subtitle-title {
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: 1151px) {
  .hero-wrapper {
    margin-top: 115px;
  }
}

@media (max-width: 1100px) {
  .hero-text {
    padding: 50px 20px 60px 50px;
  }
  .hero-text__title {
    font-size: 40px;
  }
  .hero-text__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .hero-photo__text {
    font-size: 16px;
    top: 50px;
    padding: 12px 20px;
  }
}

@media (max-width: 1000px) {
  .hero-text {
    padding: 40px 15px 50px 35px;
  }
  .hero-text__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .hero {
    flex-direction: column;
  }
  .hero-photo {
    flex-basis: 100%;
    min-height: 250px;
  }
  .hero-photo__text {
    font-size: 15px;
    padding: 11px 18px;
    top: 30px;
  }
  .hero-text {
    flex-basis: 100%;
    text-align: center;
    padding: 30px 15px;
  }
  .hero-text__title {
    font-size: 30px;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .hero-photo {
    min-height: 200px;
  }
  .hero-text__title {
    font-size: 27px;
  }
}

.picket {
  padding: 60px 0 0 0;
  position: relative;
}

.picket-rectangle {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #3d464b;
  height: calc(100% + 120px);
  z-index: 0;
}

.picket-title {
  position: relative;
  z-index: 1;
}

.picket-subtitle {
  max-width: 700px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.picket-adv {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.picket-adv__item {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.picket-adv__item:last-child {
  margin: 0;
}

.picket-adv__item-photo {
  margin-right: 15px;
}

.picket-adv__item-text {
  font-size: 18px;
  font-weight: 700;
}

.picket-list {
  display: flex;
  position: relative;
  z-index: 1;
}

.picket-list__items {
  flex-basis: 50%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.picket-list__items-item {
  width: 33.33%;
  padding: 8px 10px;
  display: flex;
}

.picket-list__items-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.picket-list__items-item__content.active::after {
  opacity: 0.8;
}

.picket-list__items-item__content {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  flex-basis: 100%;
  border: 2px solid transparent;
  background-clip: content-box;
}

.picket-list__items-item__content::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3d464b;
  opacity: 0;
  transition: .3s opacity;
}

.picket-list__items-item__content:hover {
  border-color: #f8b039;
}

.picket-list__items-item__content-inner {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  display: block;
}

.picket-list__big {
  flex-basis: 50%;
  margin: 10px 0 10px 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.picket-list__big-inner {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media (max-width: 1210px) {
  .picket {
    padding-bottom: 40px;
  }
  .picket-rectangle {
    display: none;
  }
}

@media (max-width: 800px) {
  .picket {
    text-align: center;
    padding: 30px 0;
  }
  .picket-subtitle {
    max-width: 100%;
  }
  .picket-adv {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .picket-adv__item {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .picket-adv__item-photo {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .picket-list {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .picket-list__items {
    order: 1;
    flex-basis: 100%;
    justify-content: center;
    justify-content: space-between;
  }
  .picket-list__items-item {
    padding: 3px;
    flex-basis: 33.33%;
  }
  .picket-list__items-item__content:hover {
    border-color: transparent;
  }
  .picket-list__big {
    order: 0;
    margin: 10px;
    margin: 5px;
  }
  .picket-list__big-inner {
    display: block;
  }
}

.reason {
  margin-top: -90px;
  padding-top: 240px;
  background-color: #f4f4f4;
}

.reason-title {
  margin-bottom: 45px;
}

.reason-title__special {
  font-size: 72px;
  color: #f8b039;
  display: block;
}

.reason-list {
  display: flex;
}

.reason-list__column {
  flex-basis: 25%;
  padding-bottom: 170px;
}

.reason-list__column-item {
  margin-top: 30px;
  margin-bottom: 10px;
}

.reason-list__column-item__photo {
  margin-bottom: 15px;
  min-height: 50px;
}

.reason-list__column-item__photo-img {
  max-height: 100%;
  max-width: 100%;
}

.reason-list__column-item__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reason-list__column-item__text {
  color: #3d464b;
}

.reason-list__center {
  flex-basis: 50%;
  padding: 0 20px;
  position: relative;
}

.reason-list__center-item {
  position: absolute;
  max-width: 100%;
}

.reason-list__center-dec {
  right: 80px;
  width: 31%;
  bottom: 0;
  z-index: 0;
}

.reason-list__center-img {
  width: 67%;
  bottom: 200px;
  left: 60px;
  z-index: 1;
}

.reason-list__center-fence {
  width: 60%;
  bottom: 120px;
  right: 40px;
  z-index: 2;
}

@media (max-width: 1210px) {
  .reason {
    padding-top: 50px;
    margin-top: 0;
  }
  .reason-title {
    margin-bottom: 25px;
  }
  .reason-list__column {
    flex-basis: 30%;
  }
  .reason-list__column-item__title {
    font-size: 18px;
  }
  .reason-list__center {
    flex-basis: 40%;
  }
}

@media (max-width: 1000px) {
  .reason {
    padding: 30px 0 40px 0;
    text-align: center;
  }
  .reason-title {
    margin-bottom: 10px;
  }
  .reason-title__special {
    font-size: 60px;
  }
  .reason-list {
    flex-wrap: wrap;
  }
  .reason-list__column {
    flex-basis: 50%;
    padding-bottom: 0;
  }
  .reason-list__column-item {
    padding: 0 10px;
    margin-top: 30px;
  }
  .reason-list__center {
    display: none;
  }
}

@media (max-width: 850px) {
  .reason-title__special {
    font-size: 46px;
  }
  .reason-list__column {
    flex-basis: 100%;
  }
  .reason-list__column-item {
    padding: 0;
  }
}

.type {
  background-color: #3d464b;
  padding-top: 70px;
  padding-bottom: 1px;
}

.type-title {
  color: #ffffff;
  margin-bottom: 25px;
}

.type-subtitle {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.type-subtitle__img {
  margin-right: 25px;
}

.type-list {
  display: flex;
  margin-bottom: -190px;
  flex-wrap: wrap;
  justify-content: center;
}

.type-list__item {
  padding: 12px;
  background-color: #fff;
  flex-basis: 560px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 9px 46px 1px rgba(0, 0, 0, 0.28);
}

.type-list__item:first-child {
  margin-right: 30px;
}

.type-list__item:last-child {
  margin-left: 30px;
}

.type-list__item-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #f4f4f4;
  padding: 30px 5px;
  margin-bottom: 20px;
}

.type-list__item-photo {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  flex-grow: 1;
}

.type-list__item-photo__img {
  max-width: 100%;
  max-height: 100%;
}

.type-list__item-photo__rib {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 135px;
  height: 135px;
  border-radius: 100%;
  background-color: #f8b039;
}

.type-list__item-photo__rib-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35px;
  left: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.type-list__item-photo__rib-num {
  font-size: 57px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

.type-list__item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px 20px 10px 10px;
  margin-bottom: 15px;
  transition: .3s background-color;
}

.type-list__item-price:hover {
  background-color: #ffffff;
}

.type-list__item-price:last-child {
  margin-bottom: 0;
}

.type-list__item-price__photo {
  border: 1px solid #e5e5e5;
  width: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-list__item-price__photo-img {
  min-height: 100%;
  max-width: 100%;
}

.type-list__item-price__text {
  padding: 0 10px;
}

.type-list__item-price__text-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.type-list__item-price__text-title {
  margin-bottom: 5px;
}

.type-list__item-price__btn-link {
  background: #3d464b;
  padding: 15px 30px;
  color: #ffffff;
  transition: .3s color,.3s background-color;
}

.type-list__item-price__btn-link:hover {
  color: #000000;
}

@media (max-width: 1240px) {
  .type {
    padding: 50px 0;
  }
  .type-title {
    text-align: center;
    margin-bottom: 15px;
  }
  .type-subtitle {
    margin-bottom: 40px;
    justify-content: center;
  }
  .type-list {
    margin-bottom: 0;
  }
  .type-list__item {
    flex-basis: 470px;
  }
  .type-list__item-price__text-subtitle {
    font-size: 22px;
  }
}

@media (max-width: 1030px) {
  .type {
    padding: 40px 0;
  }
  .type-list {
    margin-bottom: 0;
  }
  .type-list__item {
    flex-basis: 550px;
    padding: 10px;
  }
  .type-list__item:first-child, .type-list__item:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  .type-list__item:first-child {
    margin-bottom: 30px;
  }
  .type-list__item-title {
    font-size: 30px;
    padding: 20px 5px;
    margin-bottom: 15px;
  }
  .type-list__item-photo {
    margin-bottom: 20px;
  }
  .type-list__item-photo__img {
    max-height: 240px;
  }
  .type-list__item-photo__rib {
    width: 110px;
    height: 110px;
  }
  .type-list__item-photo__rib-wrapper {
    width: 130px;
    height: 130px;
    top: 0;
    left: 100px;
  }
  .type-list__item-photo__rib-num {
    font-size: 42px;
  }
  .type-list__item-photo__rib-text {
    font-size: 14px;
  }
}

@media (max-width: 590px) {
  .type-list__item-photo__rib-wrapper {
    left: 0;
  }
  .type-list__item-price {
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .type-list__item-price__photo {
    margin-right: 20px;
  }
  .type-list__item-price__btn {
    margin-top: 20px;
    text-align: center;
    flex-basis: 100%;
  }
}

@media (max-width: 400px) {
  .type-list__item-title {
    font-size: 24px;
  }
  .type-list__item-price {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .type-list__item-price__photo {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .type-list__item-price__text {
    text-align: center;
  }
  .type-list__item-price__text-subtitle {
    font-size: 20px;
  }
  .type-list__item-price__btn {
    margin-top: 15px;
  }
  .type-list__item-price__btn-link {
    padding: 13px 35px;
  }
}

.color {
  padding-top: 330px;
  background-color: #f4f4f4;
}

.color-title {
  margin-bottom: 40px;
}

.color-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
}

.color-list__item {
  position: absolute;
  right: 0;
  bottom: 90px;
  padding: 40px 45px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  height: 400px;
  font-size: 20px;
}

.color-list__item-dec {
  position: absolute;
  z-index: 0;
  border: 1px solid #d2d9db;
  height: 58px;
  width: 58px;
}

.color-list__item-dec_topRight {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.color-list__item-dec_bottomLeft {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.color-list__item-dec_bottomRight {
  bottom: 10px;
  right: 10px;
  border-top: none;
  border-left: none;
}

.color-list__item-bg {
  position: absolute;
  width: 180px;
  height: 500px;
  left: 40px;
  bottom: 0;
  z-index: 0;
  background-image: url("../img/form/dec.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.color-list__item-wrapper {
  flex-basis: 320px;
  max-width: 100%;
  padding: 0 30px 175px 0;
  position: relative;
  margin: 0 10px;
  margin-top: 20px;
}

.color-list__item-img {
  position: relative;
  z-index: 2;
}

.color-list__item-img__content {
  max-width: 100%;
}

.color-list__item-color {
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.color-list__item-name {
  position: relative;
  z-index: 1;
  color: #3d464b;
}

@media (max-width: 1240px) {
  .color {
    padding-top: 50px;
  }
}

@media (max-width: 1030px) {
  .color-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .color-list__item {
    height: 270px;
    bottom: 30px;
    padding: 25px;
    font-size: 18px;
  }
  .color-list__item-bg {
    width: 110px;
    left: 35px;
  }
  .color-list__item-dec {
    width: 40px;
    height: 40px;
  }
  .color-list__item-wrapper {
    flex-basis: 220px;
    padding-bottom: 100px;
  }
  .color-list__item-img__content {
    max-height: 300px;
  }
  .color-list__item-bg {
    height: 300px;
  }
}

@media (max-width: 750px) {
  .color-list {
    justify-content: center;
  }
}

.fit {
  padding: 100px 0;
}

.fit-title {
  margin-bottom: 70px;
}

.fit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fit-list__item {
  flex-basis: 236px;
  margin-bottom: 20px;
}

.fit-list__item-photo {
  width: 145px;
  height: 145px;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/fit/bg.jpg");
  margin-bottom: 45px;
  position: relative;
}

@supports (background-attachment: fixed) {
  .fit-list__item-photo {
    background-attachment: fixed;
  }
}

.fit-list__item-photo__img {
  position: absolute;
  right: -30px;
  bottom: 0;
  max-width: 105px;
}

.fit-list__item-text {
  margin-left: 30px;
  font-size: 20px;
  padding-left: 15px;
  border-left: 3px solid #3d464b;
}

.fit-list__item-text__bold {
  font-weight: 700;
}

@media (max-width: 1210px) {
  .fit {
    padding: 70px 0;
  }
  .fit-title {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .fit {
    padding: 50px 0;
  }
  .fit-title {
    margin-bottom: 40px;
  }
  .fit-list__item {
    text-align: center;
  }
  .fit-list__item-photo {
    margin: 0 auto;
  }
  .fit-list__item-text {
    padding-left: 0;
    border: none;
    margin-left: 0;
  }
  .fit-list__item-photo {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .fit {
    padding: 30px 0;
  }
  .fit-list__item-photo {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
  }
  .fit-list__item-photo__img {
    max-width: 90px;
    right: -25px;
  }
}

.choose {
  padding: 70px 0 150px 0;
  background-color: #f4f4f4;
}

.choose-title {
  margin-bottom: 90px;
}

.choose-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.choose-list__item {
  flex-basis: 560px;
  text-align: center;
}

.choose-list__item:first-child {
  margin-right: 30px;
}

.choose-list__item:last-child {
  margin-left: 30px;
}

.choose-list__item-photo {
  padding: 30px;
  margin-bottom: 45px;
  background-color: #fff;
  z-index: 5;
  position: relative;
  box-shadow: 11px 17px 25px 1px rgba(0, 0, 0, 0.13);
}

.choose-list__item-photo__content {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.choose-list__item-photo__content-img {
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.choose-list__item-photo__wrapper {
  position: relative;
}

.choose-list__item-photo__wrapper::before {
  position: absolute;
  display: block;
  content: '';
  top: -30px;
  right: -30px;
  width: 100%;
  height: 100%;
  background-image: url("../img/choose/dec.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}

.choose-list__item-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.choose-list__item-subtitle {
  font-size: 20px;
  color: #3d464b;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.choose-list__item-btn__link {
  position: relative;
}

.choose-list__item-btn__link::after, .choose-list__item-btn__link::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  background-color: #bbbbbb;
  height: 1px;
  width: 80px;
}

.choose-list__item-btn__link::after {
  right: -20px;
  transform: translateX(100%);
}

.choose-list__item-btn__link::before {
  left: -20px;
  transform: translateX(-100%);
}

@media (max-width: 1240px) {
  .choose {
    padding: 50px 0;
  }
  .choose-title {
    text-align: center;
    margin-bottom: 50px;
  }
  .choose-list__item {
    flex-basis: 470px;
  }
  .choose-list__item-photo {
    margin-bottom: 30px;
  }
  .choose-list__item-photo__wrapper::before {
    top: -15px;
    right: -15px;
  }
  .choose-list__item-subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 1030px) {
  .choose {
    padding: 40px 0;
  }
  .choose-list__item {
    flex-basis: 560px;
  }
  .choose-list__item:first-child, .choose-list__item:last-child {
    margin: 0 30px;
  }
  .choose-list__item:first-child {
    margin-bottom: 60px;
  }
  .choose-list__item-title {
    font-size: 20px;
  }
  .choose-list__item-subtitle {
    font-size: 18px;
  }
  .choose-list__item-photo {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .choose-list__item-title {
    font-size: 18px;
  }
  .choose-list__item-subtitle {
    font-size: 16px;
  }
  .choose-list__item-btn__link::after, .choose-list__item-btn__link::before {
    width: 40px;
  }
  .choose-list__item-btn__link::after {
    right: -10px;
  }
  .choose-list__item-btn__link::before {
    left: -10px;
  }
}

@media (max-width: 400px) {
  .choose-list__item-btn__link::after, .choose-list__item-btn__link::before {
    width: 30px;
  }
  .choose-list__item-btn__link::after {
    right: -8px;
  }
  .choose-list__item-btn__link::before {
    left: -8px;
  }
  .choose-list__item-photo {
    padding: 10px;
  }
}

.next {
  padding: 100px 0;
  background-image: url(../img/next/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.next-title {
  color: #ffffff;
  margin-bottom: 110px;
}

.next-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.next-list__item {
  flex-basis: 295px;
  max-width: 100%;
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
}

.next-list__item:hover .next-list__item-img__content {
  animation-name: shake;
}

.next-list__item-num {
  position: absolute;
  top: -45px;
  left: -37px;
  font-size: 221px;
  font-weight: 800;
  z-index: 0;
  line-height: 100%;
  color: #45575f;
  opacity: 0.6;
}

@supports (-webkit-background-clip: text) {
  .next-list__item-num {
    color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../img/next/numBg.png);
    background-position: center center;
    background-repeat: repeat;
  }
}

.next-list__item-img {
  margin-left: 25px;
  margin-bottom: 15px;
  min-height: 67px;
  position: relative;
  z-index: 1;
}

.next-list__item-img__content {
  display: block;
  max-height: 100%;
  max-width: 100%;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.next-list__item-title {
  text-shadow: 8px 13px 13px rgba(0, 0, 0, 0.14);
  color: #f8b039;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  position: relative;
}

.next-list__item-title_white {
  display: block;
  color: #ffffff;
}

.next-list__item-title::after {
  position: absolute;
  display: block;
  content: '';
  bottom: -25px;
  left: 30px;
  width: 1px;
  height: 50px;
  background-color: #f4f4f4;
  transform: translateY(100%);
}

.next-list__item-text {
  color: #b3c0c8;
}

.next-list__item-phones {
  margin-top: 15px;
}

.next-list__item-phones__item {
  font-size: 18px;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
}

.next-list__item-phones__item:last-child {
  margin-bottom: 0;
}

.next-btn {
  margin-top: 40px;
}

.next-btn__link {
  font-size: 14px;
  padding: 16px 30px;
  box-shadow: 8px 13px 13px 1px rgba(0, 0, 0, 0.14);
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media (max-width: 1210px) {
  .next {
    padding: 60px 0;
  }
  .next-title {
    margin-bottom: 60px;
  }
  .next-list__item {
    flex-basis: 250px;
  }
}

@media (max-width: 1100px) {
  .next-title {
    text-align: center;
  }
  .next-btn {
    margin-top: 20px;
  }
  .next-list__item {
    flex-basis: 360px;
    margin-bottom: 40px;
    text-align: center;
  }
  .next-list__item-img {
    margin-left: 0;
  }
  .next-list__item-img__content {
    margin: 0 auto;
  }
  .next-list__item-title {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .next-list__item-title::after {
    bottom: -5px;
    left: 50%;
  }
  .next-list__item-num {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 750px) {
  .next-list__item {
    flex-basis: 300px;
  }
}

@media (max-width: 620px) {
  .next {
    padding: 30px 0 0 10px;
  }
  .next-title {
    margin-bottom: 30px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
}

.form-wrapper {
  background-image: url("../img/form/bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  background-color: #f4f4f4;
  position: relative;
}

.form-man {
  flex-basis: 58%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
}

.form-man__img {
  display: flex;
  justify-content: flex-end;
}

.form-man__img-content {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.form-man__rec {
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 40px;
  background-color: #ffffff;
  display: flex;
}

.form-man__rec-img {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.form-man__rec-text {
  position: relative;
  z-index: 1;
  max-width: 260px;
}

.form-man__rec-text__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-man__rec-text__text {
  font-size: 20px;
  font-style: italic;
  color: #3d464b;
}

.form-man__rec-dec {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 0;
}

.form-man__rec-dec_topLeft {
  top: 10px;
  left: 10px;
  border-top: 1px solid #d2d9db;
  border-left: 1px solid #d2d9db;
}

.form-man__rec-dec_topRight {
  top: 10px;
  right: 10px;
  border-top: 1px solid #d2d9db;
  border-right: 1px solid #d2d9db;
}

.form-man__rec-dec_bottomLeft {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid #d2d9db;
  border-left: 1px solid #d2d9db;
}

.form-man__rec-dec_bottomRight {
  bottom: 10px;
  right: 10px;
  border-bottom: 1px solid #d2d9db;
  border-right: 1px solid #d2d9db;
}

.form-content {
  flex-basis: 385px;
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.form-content__title {
  margin-bottom: 40px;
}

.form-content__subtitle {
  margin-bottom: 50px;
}

.form-content__input {
  margin-bottom: 25px;
}

.form-content__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.form-content__checkbox-img {
  margin-right: 20px;
}

.form-content__checkbox-text {
  color: #656c70;
}

.form-content__checkbox-text__link {
  color: #656c70;
}

.form-content__checkbox-text__link::after {
  background-color: #656c70;
}

.form-content__btn {
  width: 100%;
  border: none;
  cursor: pointer;
}

.form-bg {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

.form-bg__wrapper {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.form-bg__inner {
  width: 100%;
  max-width: 500px;
  background-image: url("../img/form/dec.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1210px) {
  .form {
    flex-direction: column;
  }
  .form-wrapper {
    background-image: none;
  }
  .form-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
  .form-content__title {
    margin-bottom: 20px;
  }
  .form-content__subtitle {
    padding-left: 0;
    border-left: none;
    margin-bottom: 20px;
  }
  .form-content__checkbox {
    justify-content: center;
    margin-bottom: 30px;
  }
  .form-content .wpcf7 {
    max-width: 400px;
    margin: 0 auto;
  }
  .form-man {
    flex-basis: auto;
    width: calc(100% + 30px);
    margin-left: -15px;
    background-image: url("../img/form/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: center;
  }
  .form-man__rec {
    padding: 30px;
    left: 50%;
    transform: translateX(-50%) !important;
  }
  .form-man__rec-img {
    margin-right: 20px;
  }
  .form-man__rec-img__content {
    max-width: 65px;
  }
  .form-man__rec-text__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .form-man__rec-text__text {
    font-size: 18px;
  }
  .form-man__img-content {
    max-height: 500px;
  }
  .form-bg__wrapper {
    display: none;
  }
}

@media (max-width: 850px) {
  .form-content {
    padding: 40px 0;
  }
}

@media (max-width: 700px) {
  .form-man__rec {
    padding: 20px;
    width: 100%;
    max-width: 320px;
  }
  .form-man__rec-dec {
    width: 40px;
    height: 40px;
  }
  .form-man__rec-text {
    max-width: 350px;
  }
  .form-man__rec-text__title {
    font-size: 18px;
  }
  .form-man__rec-text__text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .form-content {
    padding: 30px 0;
  }
  .form-content__input {
    margin-bottom: 20px;
  }
  .form-content__checkbox {
    margin-bottom: 20px;
  }
  .form-content__checkbox-img {
    margin-right: 10px;
  }
  .form-content__checkbox-text {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .form-content__checkbox-text__link {
    text-decoration: underline;
  }
  .form-content__checkbox-text__link::after {
    display: none;
  }
}

.feedback {
  padding: 110px 0;
  position: relative;
}

.feedback-slider {
  width: calc(100% + 30px);
  margin-left: -15px;
  position: relative;
  z-index: 1;
}

.feedback-slider .slick-current > .feedback-slider__item {
  box-shadow: 20px 14px 40px 1px rgba(0, 0, 0, 0.13);
}

.feedback-slider__item {
  padding: 55px 0 80px 70px;
  background-color: #ffffff;
  margin: 0 15px;
  box-shadow: none;
  transition: .3s box-shadow;
}

.feedback-slider__item-inner {
  max-width: 550px;
}

.feedback-slider__item-inner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feedback-slider__item-inner__top-quotes {
  margin-right: 30px;
}

.feedback-slider__item-inner__top-quotes__content {
  width: 39px;
  height: 28px;
  fill: #64737c;
}

.feedback-slider__item-inner__top-line {
  flex-grow: 1;
  height: 1px;
  background-color: #bdcad2;
}

.feedback-slider__item-inner__text {
  font-style: italic;
  margin-bottom: 20px;
}

.feedback-slider__item-inner__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #64737c;
}

.feedback-slider__item-inner__bottom-name {
  font-size: 20px;
  font-weight: 700;
}

.feedback-slider__item-inner__bottom-line {
  flex-grow: 1;
  height: 1px;
  background-color: #bdcad2;
  margin: 0 20px;
}

.feedback-slider__item-inner__bottom-date {
  font-style: italic;
}

.feedback-slider__item-wrapper {
  transition: .3s box-shadow;
  position: relative;
  padding: 40px 45px 50px 0;
}

.feedback-slider__photo {
  position: absolute;
  right: 0;
  top: 0;
}

.feedback-slider__photo-content {
  width: 100%;
  max-width: 480px;
  max-height: 500px;
}

.feedback-slider__nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.feedback-slider__nav-dots {
  max-width: 100%;
}

.feedback-slider__nav-dots .slick-dots {
  display: flex;
  align-items: center;
  width: 420px;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-right: 90px;
  margin-bottom: -6px;
  max-width: 100%;
}

.feedback-slider__nav-dots .slick-dots li {
  height: 5px;
  background-color: #c5cdd2;
  list-style: none;
  margin: 0 6px;
  flex-grow: 1;
  cursor: pointer;
  transition: .3s flex-grow;
  width: 22px;
  margin-bottom: 6px;
}

.feedback-slider__nav-dots .slick-dots li button {
  display: none;
}

.feedback-slider__nav-dots .slick-dots li.slick-active {
  width: 35px;
  flex-grow: 2;
  background-color: #f8b039;
}

.feedback-slider__nav-arrows {
  display: flex;
}

.feedback-slider__nav-arrows__item {
  background-color: #c5cdd2;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: .3s background-color;
}

.feedback-slider__nav-arrows__item:hover {
  background-color: #f8b039;
}

.feedback-slider__nav-arrows__item svg {
  width: 10px;
  height: 18px;
  fill: #ffffff;
}

.feedback-slider__nav-arrows__item_left {
  margin-right: 20px;
}

.feedback-bg {
  flex-basis: 50%;
  display: flex;
}

.feedback-bg__wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.feedback-bg__inner {
  width: 289px;
  background-image: url("../img/feedback/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1210px) {
  .feedback-slider__photo {
    right: 15px;
  }
  .feedback-slider__photo-content {
    max-width: 350px;
  }
  .feedback-bg__wrapper {
    display: none;
  }
}

@media (max-width: 1100px) {
  .feedback {
    padding: 60px 0;
  }
  .feedback-title {
    text-align: center;
    margin-bottom: 25px;
  }
  .feedback-slider {
    width: 100%;
    margin-left: 0;
    box-shadow: 20px 14px 40px 1px rgba(0, 0, 0, 0.13);
  }
  .feedback-slider .slick-current > .feedback-slider__item {
    box-shadow: none;
  }
  .feedback-slider__photo {
    right: auto;
    top: auto;
    position: relative;
    margin-bottom: 20px;
  }
  .feedback-slider__photo-content {
    margin: 0 auto;
  }
  .feedback-slider__item {
    padding: 0;
    margin: 0;
  }
  .feedback-slider__item-inner {
    max-width: 100%;
  }
  .feedback-slider__item-wrapper {
    padding: 30px;
  }
  .feedback-slider__nav {
    margin-top: 30px;
  }
}

@media (max-width: 850px) {
  .feedback {
    padding: 50px 0;
  }
  .feedback-slider__photo-content {
    max-width: 300px;
  }
}

@media (max-width: 720px) {
  .feedback-slider__nav {
    flex-direction: column;
  }
  .feedback-slider__nav-arrows {
    margin-top: 20px;
  }
  .feedback-slider__nav-dots .slick-dots {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .feedback {
    padding: 20px 0;
  }
  .feedback-slider__photo-content {
    max-width: 300px;
  }
  .feedback-slider__item-wrapper {
    padding: 20px;
  }
  .feedback-slider__item-inner__text {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .feedback-slider__item-inner__top {
    margin-bottom: 10px;
  }
  .feedback-slider__item-inner__top-quotes__content {
    width: 30px;
  }
  .feedback-slider__item-inner__bottom-name {
    font-size: 16px;
  }
  .feedback-slider__item-inner__bottom-line {
    margin: 0 10px;
  }
  .feedback-slider__item-inner__bottom-date {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .feedback-slider__item-inner__bottom {
    flex-direction: column;
  }
  .feedback-slider__item-inner__bottom-line {
    margin: 10px 0;
    width: 100%;
  }
}

.delivery {
  padding: 80px 0 120px 0;
  position: relative;
}

.delivery .container {
  position: relative;
  z-index: 2;
}

.delivery-car {
  position: absolute;
  bottom: 0;
  left: -80px;
}

.delivery-car__img {
  width: 100%;
  max-width: 777px;
}

.delivery-map {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.delivery-map__img {
  max-width: 100%;
}

.delivery-bg {
  display: flex;
  flex-basis: 50%;
  background-color: #dedede;
}

.delivery-bg__wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.delivery-bg__inner {
  width: 45%;
  background-image: url("../img/form/dec.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.delivery-title {
  margin-bottom: 120px;
}

.delivery-content {
  position: relative;
  z-index: 3;
}

.delivery-content__wrapper {
  display: flex;
  justify-content: flex-end;
}

.delivery-content__item {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.delivery-content__item-img {
  margin-right: 20px;
  min-width: 49px;
  text-align: center;
}

.delivery-content__item-text__title {
  font-size: 24px;
  font-weight: 700;
}

.delivery-content__item-text__text {
  color: #3d464b;
  font-size: 20px;
}

.delivery-content__btn {
  margin: 0 0 150px 70px;
  padding-top: 20px;
}

.delivery-content:nth-last-child(2 - n) {
  margin-bottom: 90px;
}

@media (max-width: 1210px) {
  .delivery {
    padding: 60px 0;
  }
  .delivery-title {
    margin-bottom: 50px;
  }
  .delivery-bg__wrapper {
    display: none;
  }
  .delivery-car__img {
    max-width: 600px;
  }
  .delivery-content__item {
    margin-bottom: 50px;
  }
  .delivery-content__btn {
    margin: 0 0 100px 50px;
  }
}

@media (max-width: 1000px) {
  .delivery {
    padding: 40px 0;
  }
  .delivery-title {
    margin-bottom: 20px;
    text-align: center;
  }
  .delivery-car {
    position: relative;
    left: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .delivery-car__img {
    max-width: 500px;
  }
  .delivery-content__item {
    justify-content: center;
    margin-bottom: 30px;
  }
  .delivery-content__btn {
    margin: 0;
    text-align: center;
  }
  .delivery-content__wrapper {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .delivery-map__img {
    margin-top: 50px;
  }
  .delivery-content__item-text__title {
    font-size: 22px;
  }
  .delivery-content__item-text__text {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .delivery-content__item {
    flex-direction: column;
    text-align: center;
  }
  .delivery-content__item-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.map-content {
  height: 500px;
  width: 100%;
}

@media (max-width: 900px) {
  .map-content {
    height: 400px;
  }
}

@media (max-width: 500px) {
  .map-content {
    height: 260px;
  }
}

.footer {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  color: #ffffff;
}

.footer-wrapper {
  background-color: #3d464b;
}

.footer-item {
  font-size: 18px;
}

.footer-item__title {
  margin-bottom: 20px;
}

.footer-item__phone {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.footer-item__free {
  margin: 10px 0;
  color: #7e98a6;
}

.footer-item__caption {
  max-width: 240px;
}

.footer-right {
  font-size: 14px;
}

.footer-right__item {
  max-width: 280px;
  margin-bottom: 20px;
  color: #8f999f;
}

.footer-right__item-link {
  display: inline-block;
}

.footer-right__item-link::after {
  background-color: #8f999f;
}

.footer-right__copyright {
  margin-bottom: 20px;
}

.footer-right__development-link {
  color: #91bbd3;
}

.footer-right__development-link::after {
  background-color: #91bbd3;
}

@media (max-width: 900px) {
  .footer {
    padding: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-item {
    margin: 0 15px;
    margin-bottom: 25px;
  }
  .footer-right {
    text-align: center;
    flex-basis: 100%;
  }
  .footer-right__item {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .footer-right__copyright {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 25px 0;
  }
  .footer-item__title {
    margin-bottom: 5px;
  }
  .footer-item__free {
    margin: 5px 0;
  }
  .footer-item__caption {
    max-width: 100%;
  }
}

.policy {
  background: #ffffff;
  font-size: 16px;
}

.policy-wrapper {
  display: none;
  width: 1000px;
  max-width: 90%;
}

.policy-wrapper.fancybox-content {
  padding: 25px;
}

.policy-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.policy-text {
  margin-bottom: 25px;
}

.policy-list {
  list-style: none;
}

.policy-list__item {
  padding-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.policy-list__item::before {
  position: absolute;
  left: 12px;
  top: 4px;
  transform: translateX(-100%);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #f8b039;
  border-radius: 100%;
}

.policy-list__item:last-child {
  margin-bottom: 0;
}

.modal {
  display: flex;
  background: #ffffff;
}

.modal-wrapper {
  display: none;
  width: 100%;
  max-width: 600px;
}

.modal-wrapper.fancybox-content {
  padding: 0;
}

.modal-photo {
  flex-basis: 45%;
  min-height: 100%;
  max-height: 100%;
  background: url("../img/general/modalBg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-content {
  padding: 30px;
  width: 100%;
}

.modal-content__title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 12px;
}

.modal-content__text {
  font-size: 16px;
  margin-bottom: 15px;
}

.modal-content__input {
  padding: 15px 20px;
  margin-bottom: 12px;
  font-size: 18px;
}

.modal-content__input#picketType {
  display: none;
}

.modal-content__btn {
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.modal-content__policy {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.modal-content__policy-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.modal-content__policy-text__link {
  color: #000000;
}

.modal-content__policy-text__link::after {
  background-color: #000000;
}

@media (max-width: 600px) {
  .modal-wrapper {
    max-width: 340px;
  }
  .modal-content__input {
    padding: 14px 20px;
  }
  .modal-content__policy-text__link {
    text-decoration: underline;
  }
  .modal-content__policy-text__link::after {
    display: none;
  }
  .modal-photo {
    display: none;
  }
  .modal-content {
    padding: 25px 20px;
  }
  .policy-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.product-wrapper {
  display: none;
  width: 100%;
  max-width: 825px;
  box-shadow: 11px 14px 46px rgba(0, 0, 0, 0.24);
}

.product-wrapper.fancybox-content {
  padding: 0;
}

.product-top {
  padding: 40px 60px 30px 50px;
  display: flex;
  justify-content: space-between;
}

.product-top__photo {
  background-image: url("../img/product/1.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 220px;
}

.product-top__content {
  position: relative;
  width: calc(100% - 270px);
}

.product-top__content::before {
  position: absolute;
  top: -40px;
  left: 0;
  display: block;
  content: '';
  height: 10px;
  width: 108px;
  background-color: #f8b039;
}

.product-top__content-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.product-top__content-side {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-top__content-side__checkbox {
  margin-right: 15px;
}

.product-top__content-side__text {
  font-size: 20px;
  font-weight: 700;
}

.product-top__content-settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-top__content-settings__item {
  flex-basis: 48%;
}

.product-top__content-settings__item-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-top__content-settings__item-input {
  padding: 13px 20px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #bbc0c9;
}

.product-top__content-settings__item-input::-webkit-input-placeholder {
  color: #bbc0c9;
}

.product-top__content-color__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-top__content-color__choose {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-top__content-color__choose-item {
  flex-basis: 28%;
  height: 60px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: content-box;
  border: 3px solid transparent;
  position: relative;
  margin-bottom: 10px;
}

.product-top__content-color__choose-item::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  background-image: url("../img/general/check.png");
  width: 41px;
  height: 31px;
  transform: translate(-50%, -50%);
  display: none;
}

.product-top__content-color__choose-item.active {
  border: 3px solid #f8b039;
}

.product-top__content-color__choose-item.active::after {
  display: block;
}

.product-bottom {
  width: calc(100% - 270px);
}

.product-bottom__wrapper {
  background-color: #f4f4f4;
  padding: 30px 60px 50px 50px;
  display: flex;
  justify-content: flex-end;
}

.product-bottom__input {
  padding: 14px 10px 14px 25px;
  font-size: 18px;
  margin-bottom: 15px;
}

.product-bottom__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.product-bottom__checkbox-img {
  width: 25px;
  margin-right: 20px;
}

.product-bottom__checkbox-text {
  color: #656c70;
}

.product-bottom__checkbox-text__link {
  color: #656c70;
}

.product-bottom__checkbox-text__link::after {
  background-color: #656c70;
}

.product-bottom__submit {
  width: 100%;
  border: none;
  cursor: pointer;
}

.product #picketName, .product #picketCover, .product #picketLength, .product #picketHeight, .product #picketColor {
  display: none;
}

@media (max-width: 770px) {
  .product-top__photo {
    width: 180px;
  }
  .product-top__content {
    width: calc(100% - 210px);
  }
  .product-top__content-settings {
    margin-bottom: 5px;
    flex-direction: column;
  }
  .product-top__content-settings__item {
    margin-bottom: 15px;
  }
  .product-top__content-title {
    font-size: 28px;
  }
  .product-bottom {
    width: calc(100% - 210px);
  }
  .product-bottom__checkbox-text {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .product-top {
    flex-direction: column-reverse;
  }
  .product-top__photo {
    height: 200px;
    width: auto;
  }
  .product-top__content {
    width: 100%;
    margin-top: 40px;
  }
  .product-top__content::before {
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .product-top__content-title {
    text-align: center;
  }
  .product-top__content-side {
    justify-content: center;
  }
  .product-bottom {
    width: 100%;
  }
  .product-bottom__checkbox {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .product-top {
    padding: 25px 25px 15px 25px;
  }
  .product-bottom__wrapper {
    padding: 25px;
  }
}

@media (max-width: 400px) {
  .product-top {
    padding: 15px 15px 5px 15px;
  }
  .product-top__content-title {
    font-size: 26px;
  }
  .product-top__content-side__text {
    font-size: 18px;
  }
  .product-bottom__wrapper {
    padding: 15px;
  }
}

@media (max-width: 373px) {
  .product-bottom__checkbox-text {
    font-size: 12px;
  }
  .product-bottom__checkbox-img {
    width: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 350px) {
  .product-top__content-title {
    font-size: 23px;
  }
}
/*# sourceMappingURL=style.css.map */